# --- PyTorch CPU Override (CRITICAL for small Docker image) ---
--extra-index-url https://download.pytorch.org/whl/cpu

# --- Machine Learning & Math ---
torch
stable-baselines3
sb3-contrib
numpy
gymnasium

# --- Web Server & Data Validation ---
websockets
pydantic


annotated-types
cloudpickle
Farama-Notifications
filelock
fsspec
Jinja2
MarkupSafe
mpmath
networkx
pydantic_core
sympy
typing-inspection
typing_extensions

